# Семинар 1. Введение

Добро пожаловать в Google Colaboratory (широко используется сокращение Colab)

Для того, чтобы продолжить работу в рабочей тетради в Google Colab авторизуйтесь с помощью почтового ящика в почтового ящика в домене @gmail.com (Нажмите кнопку "Войти" в правом верхнем углу).

Далее нажмите "Файл" слева сверху и выберите "Сохранить копию на диске".

После создания копии, вы можете приступать к работе.

### Первая программа

Вывести на экран рисунок из букв:

        Ж
       ЖЖЖ
      ЖЖЖЖЖ  
     ЖЖЖЖЖЖЖ
      HH HH
      ZZZZZ

In [ ]:
# напишиие код программы здесь
# используйте функцию print

### Задача 2

Ввести 3 числа, найти их сумму.

Пример теста:


<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=2 align="center">
                <pre>
4
5
7
</pre>
            </td>
            <td VALIGN=top><pre>16</pre></td>
        </tr>
</table>

In [1]:
# напишите программу здесь
# придумайте не менее 3 тестов

### Задача 3

Ввести 3 числа, найти их сумму, произведение и среднее арифметическое.

Пример теста:


<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=2 align="center">
                <pre>
4
5
7
</pre>
            </td>
            <td VALIGN=top><pre>
16
140
5.3333</pre></td>
        </tr>
</table>

In [ ]:
# напишите программу здесь
# придумайте не менее 3 тестов

## Дружественный интерфейс и форматный вывод

Дружественный интерфейс - это упрощение для пользователя взаимодействия с программой. Элементом дружественного интерфейса является поддержание диалога с пользователем.

Для этого, перед вводом данных с клавиатуры можно вывести сообщение о том, что именно мы просим ввести пользователя. И наоборот, при выводе результата работы программы, необходимо поясвнить, что именно мы вывели.

In [3]:
# Ввод с подсказкой:

a = int( input("Введите число: "))

In [ ]:
# Форматный вывод
a, b = 1, 2 # напомним, что это множественное присваивание

print(f"{a}+{b}={a+b}")

Как Вы видите, перед кавычками в функции **print** стоит буква **f**.

Это означает, что мы будем использовать форматную строку.

В ней в фигурные скобки может быть подставлено любое имя переменной, используемое в программе или даже выражение.

Помимо этого, с помощью форматной строки можно регулировать количество знаков, используемых при выводе числа:

In [8]:
a = 1
b = 2 
c = 3
print(f"{a}{b:3}{c:5}")

1  2    3

Помимо стандартных операций сложения, вычитания, умножения и деления в python можно использовать операции **целочисленного деления(//)** и **деления с остатком (%)**

In [17]:
a = 101

print(a % 10)
print(a // 10)

1
10

### Задача 4

Ввести трёхзначное целое число и вывести в столбик все его цифры, начиная с последней

Пример теста:


<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=2 align="center">
                <pre>
175
</pre>
            </td>
            <td VALIGN=top><pre>
5
7
1</pre></td>
        </tr>
</table>

In [ ]:
# напишите программу здесь
# придумайте не менее 3 тестов

*Дополнительное задание:* Ввести трёхзначное целое число и вывести его цифры, начиная с первой

### Задача 5

Ввести число, обозначающее количество секунд. Вывести то же самое время в минутах и секундах.


Пример теста:


<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=2 align="center">
                <pre>
175
</pre>
            </td>
            <td VALIGN=top><pre>
2 мин. 55 с.
</pre></td>
        </tr>
</table>

In [ ]:
# напишите программу здесь
# придумайте не менее 3 тестов

Доп. задание: усложните задание, добавив выделение количества часов.

Форматный вывод также удобен в использовании, при работе с дробными числами, если нужно отрегулировать количество знаков после запятой. Это количество задаётся добавлением записи типа .2f, где число означает необходимое количество знаков после запятой.

In [15]:
x=12.345678
print(f"x = {x}")

print( f"x = {x:10.3f}" )

print( f"x = {x:.2f}" )

x = 12.345678
x =     12.346
x = 12.35

### Подготовка к НЭ.

#### Задача А01 - 1

Реализуйте следующую программу: 

На первой строке вводится название товара (строка).

Затем вводится цена товара (целое число) за 1 шт. 

Программа должна вывести фразу вида 'Ваня покупает <ТОВАР>, 5 шт. Он заплатит за покупку <СУММА, КОТОРАЯ БУДЕТ ЗАПЛАЧЕНА> рублей'. 

Важно! В коде обязательно нужно использовать f-строку!

<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
<tr>
            <td rowspan=1 align="center">
                <pre>
апельсин
130
</pre>
            </td>
            <td VALIGN=top><pre>
Ваня покупает апельсин, 5 шт. Он заплатит за покупку 650 рублей!
</pre></td>
</tr>

<tr>
<td rowspan=1 align="center">
<pre>
яблоко
80
</pre>
</td>
<td VALIGN=top><pre>
Ваня покупает яблоко, 5 шт. Он заплатит за покупку 400 рублей!
</pre></td>
</tr>

<tr>
            <td rowspan=1 align="center">
                <pre>
клубнику
90
</pre>
            </td>
            <td VALIGN=top><pre>
Ваня покупает клубнику, 5 шт. Он заплатит за покупку 450 рублей!
</pre></td>
        </tr>
        </tbody>
</table>

In [ ]:
# место для программы

### Математические функции

Для того, чтобы выделить целую часть из дробного числа нужно использовать функцию **int()**

Для того, чтобы округлить число по математическим правилам, нужно использовать функцию **round()**

In [16]:
x = 1.6
print(int(x))
print(round(x))

1
2

### Задача 6

Ввести число, обозначающее размер одной фотографии в Мбайтах. Определить, сколько фотографий поместится на флэш-карту объёмом 2 Гбайта.


Пример теста:


<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=2 align="center">
                <pre>
6.3
</pre>
            </td>
            <td VALIGN=top><pre>
325
</pre></td>
        </tr>
</table>

In [ ]:
# место для программы

### Подготовка к НЭ

#### Задача А01 - 2

Реализуйте следующую программу: 

На первой строке вводится название книги (строка).

Затем вводится цена книги (целое число). 

Программа должна вывести фразу вида 'Книгу "<НАЗВАНИЕ>" можно купить со скидкой 10% по цене <ЦЕНА СО СКИДКОЙ> рублей'. 

Важно! В коде обязательно нужно использовать f-строку!

<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
<tr>
            <td rowspan=1 align="center">
                <pre>
Python для всех
1300
</pre>
            </td>
            <td VALIGN=top><pre>
Книгу "Python для всех" можно купить со скидкой 10% по цене 1170.0 рублей
</pre></td>
</tr>

<tr>
<td rowspan=1 align="center">
<pre>
Русалочка
815
</pre>
</td>
<td VALIGN=top><pre>
Книгу "Русалочка" можно купить со скидкой 10% по цене 733.5 рублей
</pre></td>
</tr>

<tr>
            <td rowspan=1 align="center">
                <pre>
Садоводство в 21 веке
900
</pre>
            </td>
            <td VALIGN=top><pre>
Книгу "Садоводство в 21 веке" можно купить со скидкой 10% по цене 810.0 рублей
</pre></td>
        </tr>
        </tbody>
</table>