# Семинар 2. Условный опрератор

ИНСТРУКЦИЯ: Для того, чтобы продолжить работу в рабочей тетради в Google Colab авторизуйтесь с помощью почтового ящика в почтового ящика в домене @gmail.com (Нажмите кнопку "Войти" в правом верхнем углу).

Далее нажмите "Файл" слева сверху и выберите "Сохранить копию на диске".

После создания копии, вы можете приступать к работе.

Сегодня мы поговорим об условном операторе и конструкциях, построенных на его базе.

### Задача 1

Ввести два целых числа, найти наибольшее и наименьшее из них.

Пример теста:


<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=2 align="center">
<pre>1
5
</pre>
            </td>
            <td VALIGN=top><pre>
Наибольшее число 5
Наименьшее число 1
</pre></td>
        </tr>
</table>

In [ ]:
# напишите программу здесь
# придумайте не менее 3 тестов

### Задача 2

Ввести 4 целых числа, найти наибольшее из них.

Пример теста:


<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=2 align="center">
                <pre>
1
5
4
3
</pre>
            </td>
            <td VALIGN=top><pre>
Наибольшее число 5
</pre></td>
        </tr>
</table>

In [ ]:
# напишите программу здесь
# придумайте не менее 3 тестов

## Сложные условия

### Задача 3

Фирма набирает сотрудников от 25 до 40 лет включительно. Ввести возраст человека и определить, подходит ли он фирме (вывести ответ "подходит" или "не подходит").
Особенность: надо проверить, выполняются ли два условия одновременно:       возраст >= 25 и возраст <= 40


Пример теста:


<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=1 align="center">
                <pre>
30
</pre>
            </td>
            <td VALIGN=top><pre>
Кандидат подходит фирме
</pre></td>
        </tr>
 <tr>
            <td rowspan=1 align="center">
                <pre>
48
</pre>
            </td>
            <td VALIGN=top><pre>
Кандидат не подходит фирме
</pre></td>
        </tr>
</table>

In [ ]:
# решите с помощью вложенного условного оператора

## Как улучшить это решение? Использовать логические операторы!

and (Логическое И) - используется, если два условия должны выполняться **ОДНОВРЕМЕННО**.

Например, в предыдущей задаче (возраст >= 25) И (возраст <= 40)

In [ ]:
# @title
age = int(input())
if age >= 25 and age <= 40:
  print('Кандидат подходит фирме')
else:
  print('Кандидат не подходит фирме')

**Упражнение 1:** Вывести "Да", если число в переменной a – двузначное.

In [ ]:
# напишите программу здесь

**Упражнение 2:** Вывести "Да", если число в переменной a – двузначное и делится на 7

In [ ]:
# напишите программу здесь

### Задача 4

Самолёт летает по понедельникам и четвергам. Ввести номер дня недели и определить, летает ли в этот день самолёт.

Пример теста:


<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=1 align="center">
                <pre>
1
</pre>
            </td>
            <td VALIGN=top><pre>
Летает
</pre></td>
        </tr>
 <tr>
            <td rowspan=1 align="center">
                <pre>
2
</pre>
            </td>
            <td VALIGN=top><pre>
Не летает
</pre></td>
        </tr>
</table>

In [ ]:
# место для решения

In [ ]:
# @title
day = int(input())
if day == 1 or day == 4:
  print('Летает')
else:
  print('Не летает')

or (Логическое ИЛИ) - используется, если должно выполняться **ХОТЯ БЫ ОДНО** из двух условий.

Например, в предыдущей задаче (день == 1) ИЛИ (день == 4)

not(Логическое НЕ) - если выполняется обратное условие

In [ ]:
# @title
a = int(input())
b = int(input())
if not(a < b):
  print('а больше b')

In [ ]:
# @title
if a >= b:
  print('а больше b')


## Порядок выполнения операций

- выражения в скобках
- <, <=, >, >=, =, !=
- not
- and
- or

In [ ]:
# расставьте порядок действий

if not a > 2 or c != 5 and b < a:
  pass

### Задача 5

Напишите программу, которая получает три числа  - рост трёх спортсменов, и выводит сообщение «По росту», если они стоят по возрастанию роста, или сообщение «Не по росту!», если они стоят не по росту.


Пример теста:


<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=1 align="center">
                <pre>
Введите рост трёх спортсменов:
165 170 172
</pre>
            </td>
            <td VALIGN=top><pre>
По росту
</pre></td>
        </tr>
 <tr>
            <td rowspan=1 align="center">
                <pre>
Введите рост трёх спортсменов:
175 170 172
</pre>
            </td>
            <td VALIGN=top><pre>
Не по росту!
</pre></td>
        </tr>
</table>

In [ ]:
# место для решения

### Задача 6

Напишите программу, которая получает номер месяца и выводит соответствующее ему время года или сообщение об ошибке.


Пример теста:


<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=1 align="center">
                <pre>
Введите номер месяца:
5
</pre>
            </td>
            <td VALIGN=top><pre>
Весна
</pre></td>
        </tr>
 <tr>
            <td rowspan=1 align="center">
                <pre>
Введите номер месяца:
15
</pre>
            </td>
            <td VALIGN=top><pre>
Неверный номер месяца
</pre></td>
        </tr>
</table>

In [ ]:
# место для решения

## Логические переменные

Логическая переменная — это простое (атомарное) высказывание, ложность или истинность которого лежит вне рамок формальной логики.

Принимает значение True(Истина) или  False(Ложь)

### Задача 7

Напишите программу, которая получает с клавиатуры целое число и записывает в логическую переменную значение «да» (True), если это число трёхзначное. После этого на экран выводится ответ на вопрос: «Верно ли, что было получено трёхзначное число?».


Пример теста:


<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=1 align="center">
                <pre>
Введите число:  165
</pre>
            </td>
            <td VALIGN=top><pre>
да
</pre></td>
        </tr>
 <tr>
            <td rowspan=1 align="center">
                <pre>
Введите число:  1651
</pre>
            </td>
            <td VALIGN=top><pre>
нет
</pre></td>
        </tr>
</table>

In [ ]:
# место для решения

### Задача 8

Напишите программу, которая получает с клавиатуры трёхзначное число и записывает в логическую переменную значение «да» (True), если это все его цифры одинаковы. После этого на экран выводится ответ на вопрос: «Верно ли, что все цифры введённого числа одинаковы?»


Пример теста:


<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=1 align="center">
                <pre>
Введите число:  161
</pre>
            </td>
            <td VALIGN=top><pre>
нет
</pre></td>
        </tr>
 <tr>
            <td rowspan=1 align="center">
                <pre>
Введите число:  555
</pre>
            </td>
            <td VALIGN=top><pre>
да
</pre></td>
        </tr>
</table>

In [ ]:
# место для решения

### Подготовка к НЭ.

#### Задача А02

Реализуйте программу, которая проверяет, к какой языковой группе относится язык:

Дан список gеrmanic, в который записаны некоторые языки из германской группы.
Вводится язык, для которого нужно узнать языковую группу.
Если язык входит в список germanic, то программа печатает строку "Это язык из германской группы". Эта фраза сохранена для вас в переменную germ_lang.
Если язык не входит в список germanic, но его название оканчивается на "ий", то программа печатает строку "Это какой-то знакомый язык". Эта фраза сохранена для вас в переменную fam_lang.
Во всех других случаях программа печатает "Язык неизвестен". Эта фраза сохранена для вас в переменную new_lang.

<table>
    <thead>
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
    </thead>
    <tbody>
<tr>
            <td rowspan=1 align="center">
                <pre>
Китайский
</pre>
            </td>
            <td VALIGN=top><pre>
Это какой-то знакомый язык
</pre></td>
</tr>

<tr>
<td rowspan=1 align="center">
<pre>
Голландский
</pre>
</td>
<td VALIGN=top><pre>
Это язык из германской группы
</pre></td>
</tr>

<tr>
            <td rowspan=1 align="center">
                <pre>
Хинди
</pre>
            </td>
            <td VALIGN=top><pre>
Язык неизвестен
</pre></td>
        </tr>
        </tbody>
</table>

In [ ]:
germanic = ['Голландский', 'Немецкий', 'Английский', 'Датский', 'Исландский']

germ_lang = "Это язык из германской группы"
fam_lang = "Это какой-то знакомый язык"
new_lang =  "Язык неизвестен"

# ваш код ниже